.projects-page {
    width: 100%;

    min-height: 100vh;

    padding: 30px 40px;

    box-sizing: border-box;

    background: #f8fafc;
}


.projects-header {
    display: flex;

    justify-content: space-between;

    align-items: center;

    margin-bottom: 30px;
    padding: 0 20px;
}


.projects-header h1 {
    margin: 0;

    font-size: 32px;

    color: #222;
}


.create-project-btn {
    padding: 12px 24px;

    border: none;

    border-radius: 12px;

    background: #4f46e5;

    color: white;

    font-size: 16px;

    cursor: pointer;

    transition: 0.2s ease;
}


.create-project-btn:hover {
    background: #4338ca;

    transform: translateY(-2px);
}



.projects-content {
    width: 100%;
}