/*.overlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0,0,0,0.5);*/

/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.modal {*/
/*    background: white;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*}*/

.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(5px);
    z-index: 1000;
}


.modal {
    width: 400px;
    background: #ffffff;

    padding: 30px;
    border-radius: 16px;

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);

    animation: modalShow 0.2s ease-out;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.modal h2 {
    margin: 0 0 20px;

    font-size: 24px;
    color: #222;
    text-align: center;

}


.modal input,
.modal textarea{
    width: 100%;
    box-sizing: border-box;

    padding: 12px 15px;

    border: 1px solid #ddd;
    border-radius: 10px;

    font-size: 16px;

    outline: none;

    transition: 0.2s;
}

.modal textarea {
    min-height: 120px;

    resize: vertical;

    line-height: 1.5;
}



.modal input:focus,
.modal textarea:focus {
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}


.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 12px;

    margin-top: 25px;
}


.modal-buttons button {
    padding: 10px 20px;

    border-radius: 10px;
    border: none;

    font-size: 15px;
    cursor: pointer;

    transition: 0.2s;
}


.btn-cancel {
    background: #e5e7eb;
    color: #333;
}


.btn-cancel:hover {
    background: #d1d5db;
}


.btn-create {
    background: #4f46e5;
    color: white;
}


.btn-create:hover {
    background: #4338ca;
}


@keyframes modalShow {
    from {
        opacity: 0;
        transform: translateY(-15px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}